# Build output
/dist

# Dependencies
/node_modules

# Local env files
.env
.env.*
!.env.example

# Vite cache
.vite

# pnpm cache
.pnpm-store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
lerna-debug.log*

# OS files
.DS_Store

# Editor files
.vscode/
.idea/
